<div class="container has-text-centered">
  <h1 class="title"><%= @character.name %>: <%= @character.species %> <%= @character.gender %></h1>

  <%= image_tag @character.image, alt: "Character Image" %>
  <p>Living status is currently listed as: <b><%=  @character.status %></b></p>
  <p>Hails from: <b><%=  @character.origin %></b></p>
</div>

<p><b>Episodes:</b></p>
<ul>
  <% @episode_ids.each do |episode_id| %>
    <% episode = Episode.find_by_id(episode_id) %>
    <li><%= link_to episode.title, episode_path(episode)  %></li>
  <% end %>
</ul>
